@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  --blue: #16a9c7;
  --project-description-bg: #313131;
  --grey: #1A1A1A;
  --blue-transparent: #16a9c780;
}


body {
  background-color: black;
}

.project-container {
  max-width: 800px;
  display: flex;
  align-items: center;
  position: relative;
  margin: 0px auto;
}

.project-content {
  height: 100%;
}

.project {
  color: white;
  font-family: 'Poppins';
  background: transparent;
  position: relative;
  left: 30px;
}

.project-title {
  color: var(--blue);
  font-family: monospace;
  margin-bottom: 5px;
  width: fit-content;
}

.project-name {
  margin-top: 0px;
}


.project-description {
  background-color: var(--project-description-bg);
  padding: 20px;
}

.project-image-container {
  position: relative;
  z-index: -1;
}

.project-image {
  width: 100%;
  display: block;
}

.project-image-container:before {
  --blue-transparent: rgba(22, 168, 197, 0.7);
  content: '';
  position: absolute;
  background-color: var(--blue-transparent);
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  opacity: 1;
  transition: 250ms ease-in-out;
}

.project-container a:hover>.project-image-container:before {
  opacity: 0;
}


.tool-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  gap: 10px;
  font-size: 12px;
  font-family: monospace;
  color: grey;
  padding-left: 0px;
}

.underline-hover {
  position: relative;
}

.underline-hover::before {
  content: '';
  position: absolute;
  height: 1px;
  width: 100%;
  background: var(--blue);
  bottom: -3px;
  width: 0px;
  transition: 250ms ease-in-out;
}

.underline-hover:hover {
  color: var(--blue);
  cursor: pointer;
}

.underline-hover:hover:before {
  width: 100%;
}

.second-hyperlink{
  font-family: monospace;
  color: var(--blue);
  text-decoration: none;
  display: none;
}


@media screen and (max-width: 546px) {
  .project {
    color: white;
    font-family: 'Poppins';
    background: transparent;
    position: initial;
  }

  .project-description {
    background: none;
    padding: 0px;
  }


  .project-image-container {
    position: absolute;
    left: 0px;
    top: 0px;
    height: 100%;
    width: 100%;
  }

  .project-image {
    object-fit: cover;
    height: 100%;
  }

  .project-container {
    overflow: hidden;
    padding: 20px;
  }

  .second-hyperlink{
    display: block;
    color: white;
  }

  .project-title{
    color: white;
  }
  
}